nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul li a {
  display: inline-flex;
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
}

nav ul li a.active {
  background-color: #000;
  color: #fff;
}
